
/* General Styling */
.home-page {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: fadeInBody 1s ease-out;
}

[data-aos] {
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.5s ease-out;
    /* Smooth transition */
}

[data-aos].aos-animate {
    opacity: 1;
    /* Fully visible when animated */
}

/* Animation for the whole body */
@keyframes fadeInBody {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Top Section */
.top-section {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.top-image {
    width: 100%;
    height: 93vh;
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 0 20px;
    z-index: 4;
}

/* Responsive Header h1 */
.header-text h1 {
    font-size: 3vw;
    line-height: 1.2;
    padding: 0 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite, fadeInText 2s ease-in;
}

/* Responsive Header p */
.header-text p {
    font-size: 1.2vw;
    line-height: 1.4;
    padding: 0 30px;
    animation: fadeInText 2s ease-in;
}

/* Animation for Typing Effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

/* Animation for Text Fade-In */
@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Semi-Circles and GIF Container */
.semi-circle-container {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 1;
}

@keyframes unfold {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.semi-circle {
    width: 100%;
    height: 100%;
    border-radius: 100% 100% 100% 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    animation: unfold 3s ease-out forwards;
}

/* Responsive Semi-Circle-1 */
.semi-circle-1 {
    background: linear-gradient(to left, #1ad7da, #4804b5);
    width: 34vw;
    /* Adjust size as needed */
    height: 25vw;
    /* Adjust size as needed */
    z-index: -3;
    top: -12%;
    right: 45%;
    animation: unfold 3s ease-out forwards;
}

/* Responsive Semi-Circle-2 */
.semi-circle-2 {
    background: linear-gradient(to right, #a83487, #5621A9);
    z-index: -2;
    width: 34vw;
    /* Adjust size as needed */
    height: 25vw;
    /* Adjust size as needed */
    top: -15%;
    right: 26%;
    transform: translateX(10%);
    animation: unfold 3s ease-out forwards;
}

/* GIF Styling */
.centered-gif {
    position: absolute;
    /* Changed to absolute to better control positioning */
    z-index: 3;
    width: 40vw;
    /* Adjust size as needed */
    height: auto;
    /* Maintains aspect ratio */
    bottom: calc(50% - 12.5vw);
    /* Centers the GIF vertically based on its size */
    animation: openCenterGIF 2.5s ease-out forwards;
    transform: translateX(-50%);
    /* Centers horizontally */
    left: 28%;
    /* Aligns the GIF to the center */
   margin-bottom: -12.5%;
}

/* Unfold Animation for Semi-Circles */
@keyframes openCenterGIF {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Image Grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    padding: 20px;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInImage 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

@keyframes fadeInImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Hover Effect */
.image-wrapper:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Button Container */
.image-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show Button on Image Hover */
.image-wrapper:hover .image-buttons {
    opacity: 1;
}

.button {
    background-color: #18e2f0;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 0.9em;
    text-align: center;
    display: inline-block;
}

.button:hover {
    background-color: #4fdae1;
}

/* Animation for Image Fade-In */
@keyframes fadeInImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* src/styles/HomePage.css */
.contact-container {
    background-color: #faf7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contact-input,
.contact-textarea {
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #b5b3b3;
    border-radius: 4px;
    font-size: 0.8rem;
    width: 80%;
    max-width: 500px;
}

.contact-button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-button:hover {
    background-color: #218838;
}

.success-message {
    color: green;
    font-size: 1.2em;
    margin-top: 10px;
}

.error-message {
    color: rgb(13, 145, 52);
    font-size: 1.2em;
    margin-top: 10px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/* Mobile View */
@media (max-width: 520px) {

    /* Top Section */
        .top-section {
            position: relative;
            text-align: center;
            color: white;
            margin-bottom: 20px;
        }
    
        .top-image {
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }

 

   /* Semi-Circles and GIF Container */
   .semi-circle-container {
       position: absolute;
       bottom: 45%;
       left: 50%;
       transform: translateX(-50%);
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: auto;
       z-index: 1;
   }

}
/* Mobile View */
@media (max-width: 767px) {

  

    .header-text h1 {
        font-size: 4.5vw;
        padding: 0 15px;
        margin-top: 20%;
    }

    .header-text p {
        font-size: 3.5vw;
        padding: 0 15px;
    }

   /* Semi-Circles and GIF Container */
   .semi-circle-container {
       position: absolute;
       bottom: 50%;
       left: 50%;
       transform: translateX(-50%);
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: auto;
       z-index: 1;
   }



    .image-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

        /* Image Wrapper */
        .image-wrapper {
            position: relative;
            height: 200px;
            /* Adjust the height as needed */
            overflow: hidden;
            top: -10%;
        }
    
          /* Buttons container centered in the image */
          .image-buttons {
              position: absolute;
              top: 50%;
              /* Center vertically */
              left: 50%;
              /* Center horizontally */
              transform: translate(-50%, -50%);
              /* Center the container */
              display: flex;
              flex-direction: column;
              gap: 5px;
              opacity: 0;
              /* Initially hidden */
              visibility: visible;
              /* Make buttons visible */
              animation: fadeUp 1s ease-in-out forwards;
              /* Apply fade-up animation once */
          }
    
                /* Fade-up keyframe animation */
                @keyframes fadeUp {
                    0% {
                        opacity: 0;
                        transform: translate(-50%, calc(-50% + 20px));
                        /* Start slightly below */
                    }
        
                    100% {
                        opacity: 1;
                        transform: translate(-50%, -50%);
                        /* End in the center */
                    }
                }
    
                /* Button Styling */
                .button {
                    background: linear-gradient(135deg, #03b9a6, #480e7b);
                    color: rgb(255, 255, 255);
                    padding: 5px 8px;
                    /* Reduced button padding */
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 0.7em;
                    /* Reduced button text size */
                }
    
        /* Smooth scrolling behavior for the page */
        html,
        body {
            scroll-behavior: smooth;
        }



}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-text h1 {
        font-size: 4vw;
    }

    .header-text p {
        font-size: 2vw;
    }

  

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

  /* Image Wrapper */
  .image-wrapper {
      position: relative;
      height: 200px;
      /* Adjust the height as needed for mobile */
      overflow: hidden;
  }

  /* Buttons container centered in the image */
  .image-buttons {
      position: absolute;
      top: 50%;
      /* Center vertically */
      left: 50%;
      /* Center horizontally */
      transform: translate(-50%, -50%);
      /* Center the container */
      display: flex;
      flex-direction: column;
      gap: 5px;
      opacity: 0;
      /* Initially hidden */
      visibility: visible;
      /* Make buttons visible */
      animation: fadeUp 1s ease-in-out forwards;
      /* Apply fade-up animation once */
  }

  /* Fade-up keyframe animation */
  @keyframes fadeUp {
      0% {
          opacity: 0;
          transform: translate(-50%, calc(-50% + 20px));
          /* Start slightly below */
      }

      100% {
          opacity: 1;
          transform: translate(-50%, -50%);
          /* End in the center */
      }
  }

  /* Button Styling with Linear Gradient */
  .button {
      background: linear-gradient(135deg, #2fffea, #007bff);
      /* Gradient from teal to blue */
      color: white;
      padding: 5px 8px;
      /* Reduced button padding */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.7em;
      /* Reduced button text size */
  }

  /* Smooth scrolling behavior for the page */
  html,
  body {
      scroll-behavior: smooth;
  }
  }



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Web View */
@media (min-width: 1025px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-wrapper:nth-child(5),
    .image-wrapper:nth-child(6) {
        grid-column: span 2;
    }

    .image-wrapper:nth-child(5),
    .image-wrapper:nth-child(6) {
        height: 520px;
    }

    .image-buttons {
        flex-direction: row;
        bottom: 20px;
        width: calc(100% - 40px);
        padding: 0;
        gap: 20px;
        justify-content: center;
    }

    .button {
        padding: 15px 10px;
        font-size: 1em;
    }
}





